# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build files
dist/

# Temporary files
*.tmp

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/